@{
                /**/

                ViewBag.Title = "Login";
}
<br />
<br />
<h2>Login</h2>

<br />
<form action="" method="post">
    UserName:     <input type="text" name="UserName" value="@ViewBag.Login" style="margin-left: 0px; " /><br /><br />
    Password: <input type="text" name="Password" style="margin-left: 2px" ; /><br /><br />
    <input type="submit" value="submit" style="border: solid;background-color: #000000;color: #ffffff;margin-left: 100px" formaction="/Hotel/Login" />
    <span>@ViewBag.Msg</span>

</form>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a href="@Url.Action("ContactInformation","Hotel")" style="margin-left:100px">Return To Contact Information</a>