@{
    ViewBag.Title = "Who are we";
}
<br />
<h2><u>@ViewBag.Title</u></h2>
<br />
<h3>The Dan's Den was established in year 2000 by Five member team (Ankush,Akhil,Bhavya,Bharat,Shaun). It is one of the larget chain  in the world with one of the best hotel rooms whcih provides one of the best services</h3>
