@{
    ViewBag.Title = "Who are we";
}
<br />
<h1><u>@ViewBag.Title</u></h1>
<br />
<h2>Dan's Den established in 2016 by Ankush, Akhil, Bhavya, Bharat, Shaun is a boutique hotel with special unique features that provide exceptional customer experiences right on the equator in Maldives.
It is awarded for excellent customer service in last three years.</h2>
