@{
    ViewBag.Title = "Contact Us";
}
<br />
<h2><u>@ViewBag.Title</u></h2>
<br />
<br />
<address>
    5290, World canadian Tower's<br />
    Halifax, NS B3H1P9<br />
    <abbr title="Phone">P:</abbr>
    902-123-560
</address>
<br />
<address>
    <strong>Booking History:</strong>   <a href="mailto:Akhil@gmail.com">Akhil@gmail.com</a><br />
    <strong>Make Booking:</strong> <a href="mailto:Bhavya@gmail.com">Bhavya@gmail.com</a><br />
    <strong>Cancel Booking:</strong>   <a href="mailto:Bharat@gmail.com">Bharat@gmail.com</a><br />
    <strong>Enquiry about Booking:</strong>   <a href="mailto:Ankush@gmail.com">Ankush@gmail.com</a><br />
    <strong>Transaction issues:</strong> <a href="mailto:Shaun@gmail.com">Shaun@gmail.com</a>
</address>