<br />
<br />
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>front</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <center>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Booking" class="btn btn-default" formaction="/RoomReservation/reserve" formmethod="get" />
                    <input type="submit" value="Booking History" class="btn btn-default" formaction="/Hotel/showBookingHistory" formmethod="get" />
                    <input type="submit" value="Cancel Transaction" class="btn btn-default" formaction="/Hotel/ContactInformation" formmethod="get" />
                </div>
            </div>
        </center>
    }
    </body>
</html>
